
.intro {
    @apply absolute -translate-x-2/4 -translate-y-2/4 text-center z-[2] text-[rgb(71,196,205)] font-medium sm:text-[2rem]  md:text-[2.5rem]  xl:text-[3.25rem]  text-[2.25rem]  w-4/5 animate-[intro_6s_ease-out_0.5s] opacity-0 left-2/4 top-2/4;
}


.logo {
    @apply absolute -translate-x-2/4 -translate-y-2/4 text-center font-medium sm:text-[1.75rem] md:text-[3rem] xl:text-[4rem] text-[2rem] opacity-0 z-[2] w-full animate-[logo_10s_ease-out_9s] left-2/4 top-2/4;
    background: linear-gradient(to left, #2193b0, #8adffb, #8A2BE2, #6b8e23); 
    -webkit-background-clip: text; 
    color: transparent;
}
.image {
    @apply w-1/5 h-1/5 mx-auto my-0;
    filter: invert(100%) brightness(200%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.1);
    }
}