.socialNetWorks {
    @apply absolute w-[40%] flex flex-col flex-wrap left-[30%] top-[40%] animate-[social_6s_ease-in] ;
}
.socialLinks{
    @apply flex flex-row justify-between mb-16 w-full;
}
.githubNetWork {
    @apply w-[6rem] h-[6rem] bg-black  ;
}

.linkedinNetWork {
    @apply w-[6rem] h-[6rem] bg-white rounded-xl;

}

.instagramNetWork {
    @apply w-[7rem] h-[7rem] ;

}

.twitterNetWork {
    @apply w-[5.5rem] h-[5.5rem] bg-black ;
}
.titleEnd{
    @apply text-[#ffe81f] text-[4rem] font-medium;
}
@keyframes social {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.25;
    }
    40% {
        opacity: 0.50;
    }
    60% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

